    /* .image-wrap{
    width:100%;
    position:relative;
    overflow:hidden;
    height:990px;
    //set arbitrary height
   } */
    
    .strike {
        text-decoration: line-through;
    }
    
    .sr-only {
        font-size: 0;
        height: 1px;
        overflow: hidden;
        display: block;
    }
    
    #filters {
        margin: 1%;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    
    #filters li {
        float: left;
    }
    
    #filters li span {
        display: block;
        padding: 5px 20px;
        text-decoration: none;
        color: #666;
        cursor: pointer;
        text-transform: uppercase;
        transition: all ease-in-out 0.25s;
    }
    
    #filters li:hover span {
        color: #000;
    }
    
    #filters li span.active {
        background: #1fbae7;
        color: #fff;
    }
    
    ol li {
        color: black;
    }
    
    footer {
        color: black;
        font-size: small;
        padding-left: 8px;
    }