/* Attribute Selectors ------------- */

.form-contact {
    color: darkblue;
    padding: 20px 24px;
    background: #f4f7f8;
}

#container  {
    max-width: 500px;
    margin: auto;
}

input[type="email"] {
    background: #fdfee6;
}
input[type="submit"] {
    background-color: #52bab3;
}


input[type="password"] {
	color: #ccc;
}

a[target="_blank"] {
    color: #39add1;
    text-decoration: none;
    border-bottom: 1px dotted;
}

img[alt="Beach panorama"] {
    max-width: 500px;
    border-radius: 8%;
}


/* DRY classes */
.br {
    border-radius: .5em;
}

.avatar {
    display: block;
    margin: 0 auto 2em;
}

.rounded {
    border-radius: 50%;
}

.btn {
    cursor: pointer;   
    font-size: .875em;
    font-weight: 400;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
   }
.btn:hover {
    opacity: .75;
}
.default {
    background-color: #52bab3;
}
.default-theme {
    background-color: coral;
}

.error {
    background-color: #ff784f;
}

@media (min-width: 769 px) {
    .inln {
        width: auto;
        display: inline-block;
    }
    .btn + .btn {
        margin-left: 20px;
    }
}

/* combinators classes */

form > a {
    font-size: .7em;
}

/* pseudo classes */

input:focus,
textarea:focus {
    border-color: #52bab3;
}